openapi: 3.0.0
info:
  title: (title)
  version: 0.0.0
tags: []
paths: {}
components:
  schemas:
    AttributeFileType:
      type: string
      enum:
        - JSON
        - PARQUET
    AttributeTableReference:
      type: object
      required:
        - filename
        - type
        - schema
      properties:
        filename:
          $ref: '#/components/schemas/attribute_file_name'
        type:
          $ref: '#/components/schemas/AttributeFileType'
        schema:
          $ref: '#/components/schemas/attribute_schema_namespace'
    IfcxDataSection:
      type: object
      required:
        - header
        - nodes
      properties:
        header:
          $ref: '#/components/schemas/IfcxProvenanceHeader'
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/IfcxNode'
    IfcxFile:
      type: object
      required:
        - header
        - imports
        - attributeTables
        - sections
      properties:
        header:
          $ref: '#/components/schemas/IfcxFileHeader'
        imports:
          type: array
          items:
            $ref: '#/components/schemas/ImportNode'
        attributeTables:
          type: array
          items:
            $ref: '#/components/schemas/AttributeTableReference'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/IfcxDataSection'
    IfcxFileHeader:
      type: object
      required:
        - ifcxVersion
      properties:
        ifcxVersion:
          type: string
    IfcxNode:
      type: object
      required:
        - path
      properties:
        path:
          $ref: '#/components/schemas/path'
        children:
          type: object
          additionalProperties:
            anyOf:
              - type: object
                required:
                  - opinion
                  - value
                properties:
                  opinion:
                    type: string
                    enum:
                      - VALUE
                  value:
                    $ref: '#/components/schemas/path'
              - $ref: '#/components/schemas/OpinionPassthrough'
              - $ref: '#/components/schemas/OpinionDelete'
        inherits:
          type: object
          additionalProperties:
            anyOf:
              - type: object
                required:
                  - opinion
                  - value
                properties:
                  opinion:
                    type: string
                    enum:
                      - VALUE
                  value:
                    $ref: '#/components/schemas/path'
              - $ref: '#/components/schemas/OpinionPassthrough'
              - $ref: '#/components/schemas/OpinionDelete'
        attributes:
          type: object
          additionalProperties:
            anyOf:
              - type: object
                required:
                  - opinion
                  - value
                properties:
                  opinion:
                    type: string
                    enum:
                      - VALUE
                  value:
                    $ref: '#/components/schemas/attribute_uri'
              - $ref: '#/components/schemas/OpinionPassthrough'
              - $ref: '#/components/schemas/OpinionDelete'
    IfcxProvenanceHeader:
      type: object
      required:
        - id
        - dataVersion
        - author
        - timestamp
      properties:
        id:
          type: string
        dataVersion:
          type: string
        author:
          type: string
        timestamp:
          type: string
    ImportNode:
      type: object
      required:
        - uri
      properties:
        uri:
          type: string
        integrity:
          type: string
    OpinionDelete:
      type: object
      required:
        - opinion
      properties:
        opinion:
          type: string
          enum:
            - DELETE
    OpinionPassthrough:
      type: object
      required:
        - opinion
      properties:
        opinion:
          type: string
          enum:
            - PASS_THROUGH
    OpinionType:
      type: string
      enum:
        - PASS_THROUGH
        - DELETE
        - VALUE
    QuantityKind:
      type: string
      enum:
        - Plane angle
        - Thermodynamic temperature
        - Electric current
        - Time
        - Frequency
        - Mass
        - Length
        - Linear velocity
        - Force
        - Pressure
        - Area
        - Energy
        - Power
        - Volume
    attribute_file_name:
      type: string
      pattern: </[A-Za-z0-9.]+
    attribute_schema_namespace:
      type: string
      pattern: </[a-z0-9.]+
    attribute_uri:
      type: string
      pattern: </[A-Za-z0-9.]+:[A-Za-z0-9]+>
    path:
      type: string
      pattern: </(\{{0,1}([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}\}{0,1})[0-9a-zA-Z\/]+>
