services:

  ifc5-web:
    build:
      context: ../../..
      dockerfile: web/docker/config/${DOCKERFILE:-Dockerfile}
    image: ifc5-web:${WEB_IMAGE_TAG:-latest}
    container_name: ifc5-web
    working_dir: /app
    ports:
      - "${PORT:-8080}:80"
